@media (min-width: 992px) {
    .col-md-6 {
        width: 100%;
        font-size: 1.7rem;
        word-spacing: 0.7rem;
        text-align: center;
    }
}
@media (max-width: 992px) {
    .col-md-6 {
        font-size:1.5rem;
    }
}


.container {
    margin: 0 auto;
}

.row {
    margin: 0;
}